.shadow.mb-5.mt-4.p-3.rounded-3
  .mb-2.fs-1
    Add a new entry
  = form_for(:entry, url: entries_path) do |f|
    .form-group.mb-3
      = f.text_field :location, placeholder: 'Location', class: 'form-control'
    .form-group.mb-3
      = f.text_area :note, placeholder: 'Note', class: 'form-control input-field'
    .form-group.mb-3
      = f.file_field :photo, placeholder: 'Photo', class: 'form-control'
    .form-group
      = f.submit 'Add', class: 'btn btn-secondary'