.shadow.p-3.rounded-3.mt-4.p-5
  %h1= t('.forgot_your_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = bootstrap_devise_error_messages!
    .form-group.mb-3
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
    .form-group.mb-3
      = f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-secondary'
  = render 'devise/shared/links'
